.container-about{
    margin: 20px auto;
    max-width: 100vh;
    min-height: 100vh;
}
.card-box{
    margin: 10px;
    /* box-shadow: #333 0px 2px 5px; */
    padding: 15px;
    border-radius: 10px;
}
.box-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

}
.box-wrap h2{
    padding: 15px 0;
    font-size: 30px;
}
.box-wrap p {
    line-height: 1.4rem;
    font-size: 18px;
    margin: 20px 0;
}
img{
    border-radius: 7px;
}